.myTitleWrapper
{
    background-color: rgb(200, 199, 199);
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgb(136, 136, 136);
    max-width: 1200px;
}

.myTitle
{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

.mySubTitle
{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1rem;
}

.myRow
{
    border-radius: 5px;
    box-shadow: 2px 2px 7px rgb(182, 181, 181);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.myH1
{
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    margin-left: -10px;
}

.myH2
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
}

.myH3
{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.myP
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    /* line-break: normal; */
    /* line-height: 1rem; */
    margin-bottom: 2px;
}

.myPNotes
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7rem;
}


a
{
    text-decoration: none;
    color: black;
}

.super
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.75rem;
}



/* font-family: 'Maven Pro', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

