@media print 
{
    .titleWrapper
    {
        box-shadow: 1px 1px 5px rgb(143, 143, 143)!important;
    }

    .myContentCol
    {
        box-shadow: 2px 2px 7px rgb(155, 154, 154) !important;
    }
  }

body
{
    padding-top: 40px;
}

.myContainer
{
    /* background-color: #7fffd4; */
    /* box-shadow: 2px 2px 7px rgb(155, 154, 154); */
    border-radius: 5px;
    padding: 10px 40px 20px 40px;
    max-width: 1024px;
    /* background-image: linear-gradient(rgb(223, 223, 223), rgb(248, 248, 248)); */
}

.myTitleWrapper
{
    max-width: 1024px;
    margin: 0px auto 10px auto;
    padding: 10px 20px 20px 10px;
    border-bottom: darkgray solid 1px;
    /* border-radius: 0px 0px 5px 5px; */
    /* background-image: linear-gradient(rgb(236, 235, 235), white); */
    background-color: rgb(236, 235, 235);
    box-shadow: 1px 1px 5px rgb(143, 143, 143);
}


.myTitle
{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    /* margin-top: 50px; */
    margin-bottom: -5px;
}

.mySubTitle
{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 1rem;
    margin-bottom: -5px;
}

.mySocialWrapper
{
    display: flex;
    /* flex-direction: column; */
    padding-right: 10px;
    max-width: 60px;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: darkgreen; */
}


.myRow
{
    margin-top: 15px;
    justify-content: center;
}

.myLogoCol
{
    /* display: flex; */
    justify-content: space-evenly;
    max-width: 110px;
    margin: 0px auto 0px auto;
    padding-top: 20px;
    text-align: center;
}

.myLogoCol img
{
    max-width: 90%;
}

.myContentCol
{
    box-shadow: 2px 2px 7px rgb(155, 154, 154);
    /* background-image: linear-gradient(to right, rgb(251, 218, 191), rgb(248, 243, 167)); */
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 5px;
}
 
.myImg
{
    max-width: 90%;
    /* box-shadow: 2px 1px 2px black; */
}

.myH1
{
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    margin: 10px 0px 20px 0px;
}

.myH2
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
}

.myH3
{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.myP
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    /* line-break: normal; */
    /* line-height: 1rem; */
    margin-bottom: 2px;
}

.myPNotes
{
    text-align: right;
    padding-right: 70px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7rem;
    margin-bottom: 2px;
}

.myFooter
{
    max-width: 1024px;
    margin: 30px auto;
    padding: 10px 0px 0px 0px;
    border-top: darkgray solid 1px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

a
{
    text-decoration: none;
    color: black;
}

.super
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.75rem;
}



/* font-family: 'Maven Pro', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Source Sans Pro', sans-serif; */

